@media only screen and (min-width: 601px) and (max-width: 1440px) {
    /* ================================================
                main
    ================================================ */

    .hero-img {
        height: 50%;
    }

    /* ================================================
                main lightbulb-article
    ================================================ */

    main .lightbulb-article h2 {
        width: 30%;
    }

    /* ================================================
                main lets-go-article
    ================================================ */

    main .lets-go-article {
        width: 80%;
    }

}